# 3. Ingesta de Información de Base de Datos

Es probable que tengamos que ingestar información de base de datos para lo cual se utilizará la librería pyodbc y sqlalchemy.

<img src='./img/databases.png'>

## Pasos para conectarse a una base de datos:
- Establecer alguna forma de conexión
- Establecer un query

## sqlalchemy

sqlalchemy's se encarga de la creación del la conexión con la base de datos
- Require de formas de conexión tipo string para la conexión
- **SQLite URL format:sqlite:///filename.db**

In [ ]:
# lectura sobre pandas
pd.read_sql(query, engine)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Creando database engine para establecer la conexión
engine = create_engine("sqlite:///"+'./datasets/data.db')
# Visualizando tablas disponibles en database
engine.table_names()

['boro_census', 'hpd311calls', 'weather']

In [2]:
# Cargando tabla weather a dataframe

query='select * from weather'
weather = pd.read_sql(query, engine)
weather.head(2)

,station,name,latitude,longitude,elevation,date,month,awnd,prcp,snow,tavg,tmax,tmin
0,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/01/2017,December,5.37,0.0,0.0,,52,42
1,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/02/2017,December,3.13,0.0,0.0,,48,39

In [13]:
with open('./consultas_sql/consulta1.sql') as f:
#     data = f.read()
    p = ''
    for l in f.readlines():
        p = p +' '+ l.strip()

In [17]:
weather = pd.read_sql(p.strip(), engine)
weather.head(2)

,station,name,latitude,longitude,elevation,date,month,awnd,prcp,snow,tavg,tmax,tmin
0,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/01/2017,December,5.37,0.0,0.0,,52,42
1,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/02/2017,December,3.13,0.0,0.0,,48,39

## pyodbc

pyodbc es un módulo Python de código abierto que simplifica el acceso a las bases de datos ODBC.

In [27]:
import pyodbc as podbc
import pandas as pd

In [31]:
def conexion_sql_server(driver, server, database,username,password):
    print("realizando conexion SQL")
    try:
        connection = podbc.connect('DRIVER='+driver+
                                    ';SERVER='+server+
                                    ';DATABASE='+database+
                                    ';UID='+username+
                                    ';PWD='+ password)
        print("exito!!")
        return connection
    except Exception as e:
        print(e)

In [29]:
#función select to DF
def select_to_df(sql_query, connection):
   #conectando a la base de datos
    try:
        #pasanod info a df
        df = pd.read_sql(sql_query, connection)
    except Exception as e:
        print(e)
    return df

In [33]:
driver = '{SQL Server Native Client 11.0}'
server= 'localhost' 
database = 'AdventureWorks'
username = 'gdelgadr'
password = 'gdelgadr1'

In [24]:
query='select * from AdventureWorks.Person.Person;'

In [34]:
connection = conexion_sql_server(driver, server, database,username,password)

realizando conexion SQL
exito!!

In [35]:
 df= select_to_df(query, connection)

In [36]:
df.head()

,BusinessEntityID,PersonType,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid,ModifiedDate
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92C4279F-1207-48A3-8448-4636514EB7E2,2003-02-08
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D8763459-8AA8-47CC-AFF7-C9079AF79033,2002-02-24
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",E1A2555E-0828-434B-A33B-6F38136A37DE,2001-12-05
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F2D7CE06-38B3-4357-805B-F4B6B71C01FF,2001-12-29
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF,2002-01-30

In [40]:
query2='select * from db_python..datos;'

In [41]:
 df_primary= select_to_df(query2, connection)

In [42]:
df_primary.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_estado,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544.0,0.182,1.0,A,1001.0,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387.0,0.800,1.0,A,1001.0,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764.0,0.146,1.0,A,1001.0,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387.0,0.445,1.0,A,1001.0,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421.0,0.035,1.0,A,1001.0,12.7

### Para Investigar

- [Python odbc documentation](https://github.com/mkleehammer/pyodbc/wiki)
- [SQLAlchemy  documentation](https://docs.sqlalchemy.org/en/13/)