# 3. Ingesta de Información de Base de Datos

Es probable que tengamos que ingestar información de base de datos para lo cual se utilizará la librería pyodbc y sqlalchemy.

<img src='./img/databases.png'>

## Pasos para conectarse a una base de datos:
- Establecer alguna forma de conexión
- Establecer un query

## sqlalchemy

sqlalchemy's se encarga de la creación del la conexión con la base de datos
- Require de formas de conexión tipo string para la conexión
- **SQLite URL format:sqlite:///filename.db**

In [ ]:
# lectura sobre pandas
pd.read_sql(query, engine)

In [17]:
import pandas as pd
from sqlalchemy import create_engine

# Creando database engine para establecer la conexión
engine = create_engine("sqlite:///"+'./datasets/data.db')
# Visualizando tablas disponibles en database
engine.table_names()

['boro_census', 'hpd311calls', 'weather']

In [18]:
# Cargando tabla weather a dataframe

query='select * from weather'
weather = pd.read_sql(query, engine)
weather.head(2)

,station,name,latitude,longitude,elevation,date,month,awnd,prcp,snow,tavg,tmax,tmin
0,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/01/2017,December,5.37,0.0,0.0,,52,42
1,USW00094728,"NY CITY CENTRAL PARK, NY US",40.77898,-73.96925,42.7,12/02/2017,December,3.13,0.0,0.0,,48,39

## pyodbc

pyodbc es un módulo Python de código abierto que simplifica el acceso a las bases de datos ODBC.

In [ ]:
import pyodbc