# 2. Ingesta de Información de Archivos Excel

La lectura de archivos de tipo excel es otra fuente importante de información por lo que en esta sección mostratremos la forma de leerlos y algunas casuhísticas

In [1]:
import pandas as pd

In [5]:
path= './datasets/'
excel_file='fcc-new-coder-survey.xlsx'

Por lo general la lectura de un archivo de tipo excel es tan simple como:

<code> pd.read_excel(filename, sheet_name='sheetname') </code>

In [ ]:
survey_data = pd.read_excel(path+excel_file)

Pero de la sección anterior hemos visto algunas casuhísticas de lectura que tambien son aplicables a este tipo de archivos

In [11]:
# por defecto pandas reconoce la hoja1 como hoja de lectura 
# para este caso hoja1 = '2016'
survey_data = pd.read_excel(path+excel_file,                            
                            skiprows=2, # columnas de escape                            
                            usecols="W:AB, AR" # columnas a leer
                           )
survey_data.head(2)

,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,Income
0,35.0,United States of America,United States of America,office and administrative support,NaN,Employed for wages,32000.0
1,90.0,United States of America,United States of America,food and beverage,NaN,Employed for wages,15000.0

## Seleccionando hoja a ser leida

In [14]:
sheet2 = pd.read_excel(path+excel_file, 
                       skiprows=2,
                       sheet_name='2017')
sheet2.head(2)

,Age,AttendedBootcamp,BootcampFinish,BootcampLoanYesNo,BootcampName,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventConferences,CodeEventDjangoGirls,...,ResourcePluralSight,ResourceSkillCrush,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,SchoolDegree,SchoolMajor,StudentDebtOwe
0,27.0,0.0,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1.0,"some college credit, no degree",NaN,NaN
1,34.0,0.0,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,1.0,1.0,"some college credit, no degree",NaN,NaN

## Cargando todas las hojas

Múltiples veces tenemos casos en que la información de las hojas excel es la misma y queremos consolidarla. Ello se realizará a partir de pandas

In [22]:
# cargando todas las hojas del libro
survey_responses = pd.read_excel(path+"fcc_survey.xlsx", sheet_name=None)

survey_responses.keys()

dict_keys(['2016', '2017'])

In [24]:
for key, value in survey_responses.items():
    print(type(value))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [25]:
# Creamos un dataframe vacio donde se consolidará la información
all_responses = pd.DataFrame()

# Iteraremos a traves del diccionario de dataframes
for sheet_name, frame in survey_responses.items():
    # Añadimos una nueva columna donde se apreciará el nombre de la hoja excel   
    frame["Year"] = sheet_name
    # Agregamos la data de cada una de las hojas al nuevo dataframe
    all_responses = all_responses.append(frame)

# View years in data
print(all_responses.Year.unique())

['2016' '2017']

In [27]:
all_responses.shape

(2000, 99)

### Temas relacionados

- Leer google sheet python:  https://medium.com/analytics-vidhya/how-to-read-and-write-data-to-google-spreadsheet-using-python-ebf54d51a72c

- Leer sharepoint excel python: https://stackoverflow.com/questions/48424045/how-to-read-sharepoint-online-office365-excel-files-in-python-with-work-or-sch