# Scrapeando páginas sencillas

Es necesario saber que para extraer datos de páginas sencillas podemos utilizar las siguientes opciones

#### 1. pandas.read_clipboard()

Pandas cuenta con la opción de extraer datos de tablas y pasarlos directamente a un dataframes, ello se logra utilizando los datos contenidos en el cortapapeles.

<b>Ejemplo</b>

La siguiente <a href=https://es.wikipedia.org/wiki/Anexo:Ciudades_europeas_por_poblaci%C3%B3n>página</a> contiene una tabla acerca de las ciudades más pobladas de Europa. Para obtener esta información podemos realizar guardar en contenido de la tabla en el cortapapeles ( seleccionando el contenido deseado y realizando el copiado de este "Ctrl+c" ). Posteriormente haremos los siguiente:

In [1]:
import pandas as pd

In [2]:
df=pd.read_clipboard()

In [3]:
df.head()

,Europa,UE,País,Nombre en español,Nombre en idioma original,País.1,Entidad administrativa,Subentidad administrativa,Población
0,1,-,TUR-01,Estambul,İstanbul,Bandera de Turquía Turquía,Provincia de Estambul,NaN,14 657 434
1,2,-,RUS-0001,Moscú,Москва́,Flag of Russia.svg Rusia,Distrito federal Central,Ciudad federal de Moscú,12 380 664
2,3,UE-001,GBR-01,Londres,London,Bandera de Reino Unido Reino Unido,Inglaterra,Gran Londres,8 787 892
3,4,-,RUS-0002,San Petersburgo,Санкт-Петербург,Flag of Russia.svg Rusia,Distrito federal del Noroeste,Ciudad federal de San Petersburgo,5 281 579
4,5,UE-002,ALE-01,Berlín,Berlin,Flag of Germany.svg Alemania,Berlín,NaN,3 469 849

In [7]:
df.to_csv('info_paise_europa.csv',sep='|',index=False,encoding='utf-8')

In [4]:
df.to_excel('info_excel.xlsx',index=False,sheet_name='hoja')

### 2. Convirtiendo página a Dataframe

En algunos casos se tiene urls los cuales son descargan algún tipo de archivo como xls, csv o otros. Para estos casos se puede utilizar Pandas para obtener la información contenida en este directamente.

<b>Ejemplo 1</b>

In [5]:
import pandas as pd

In [6]:
url='http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls'

In [7]:
#obteniendo contenido del url
#pd.read_excel('nombre_archivo_excel',sheet_name='hoja que deseamos leer')
df_excel=pd.read_excel(url,sheet_name=None)

In [8]:
#visualizando la cantidad de páginas contenidas en el archivo excel
df_excel.keys()

odict_keys(['1700', '1900'])

In [12]:
#contenido de la primera hoja.
df_excel['1700'].head()

                 country       1700
0            Afghanistan  34.565000
1  Akrotiri and Dhekelia  34.616667
2                Albania  41.312000
3                Algeria  36.720000
4         American Samoa -14.307000

<b>Ejemplo 2</b>

In [13]:
import pandas as pd

In [14]:
url="https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv"

In [15]:
#pd.read_csv('nombre_archivo[csv-txt],sep="[|-;-,]"')
df_csv=pd.read_csv(url,sep=';')

In [16]:
df_csv.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [18]:
#formato salida
df_csv.to_excel('data_2.xlsx',sheet_name='data',index=False)